.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #B4CFB0; /* Light greenish border */
    border-radius: 0.375rem;
}

.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #789395; /* Dark greenish border on focus */
    box-shadow: 0 0 0 3px #94B49F; /* Slightly lighter shadow around the input */
}

@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(229, 227, 201, 0.3) 50%, rgba(255, 255, 255, 0.3)); /* Subtle shine effect with color #E5E3C9 */
    background-size: 200% 100%;
    animation: shine 3s infinite;
}
