{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-[#E5E3C9] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-[#B4CFB0] rounded-lg shadow-md p-8">
    <div>
      <h2 class="mt-6 text-center text-black text-3xl font-extrabold text-gray-900">
        Welcome Back!
      </h2>
      <p class="mt-2 text-center text-gray-600">Please login to your account to continue</p>
    </div>

    {% if messages %}
    <div class="mt-4 text-center">
      {% for message in messages %}
      <p class="text-sm {% if message.tags == 'success' %}text-green-700{% elif message.tags == 'error' %}text-red-700{% else %}text-blue-700{% endif %}">
        {{ message }}
      </p>
      {% endfor %}
    </div>
    {% endif %}

    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-[#B4CFB0] placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-[#789395] focus:border-[#789395] focus:z-10 sm:text-sm" placeholder="Username">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-[#B4CFB0] placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-[#789395] focus:border-[#789395] focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#789395] hover:bg-[#94B49F] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#789395]">
          Sign in
        </button>
      </div>
    </form>

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-[#789395] hover:text-[#94B49F]">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}