<h1>Grab It Now!</h1>

<h5>Name: </h5>
<p>{{ nama }}<p>
<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<h2>List Produk</h2>

{% for product in products %}
    <div>
        <h5>Nama produk: </h5>
        <p>{{ product.name }}</p>
        
        <h5>Harga: </h5>
        <p>Rp. {{ product.price }}</p>
        
        <h5>Deskripsi: </h5>
        <p>{{ product.description }}</p>
        
        <h5>Stok: </h5>
        <p>{{ product.stock }}</p>
        
        <h5>Kategori: </h5>
        <p>{{ product.category }}</p>
        
        <h5>Rating: </h5>
        <p>{{ product.rating }}</p>
        <hr>
    </div>
{% endfor %}