{% extends 'base.html' %}
{% block content %}
<h1>Grab It Now!</h1>

<h5>Name: </h5>
<p>{{ nama }}<p>
<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<h2>List Produk</h2>

{% if not products %}
<p>Belum ada data produk pada Grab It Now!.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Deskripsi</th>
    <th>Stok</th>
    <th>Kategori</th>
    <th>Rating</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.stock}}</td>
    <td>{{product.category}}</td>
    <td>{{product.rating}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:add_product' %}">
  <button>Add New Product</button>
</a>
{% endblock content %}